
*{
    font-family: Awesome;
    font-size:13px;
}

.sub.header{
    text-align:center;
    background-repeat: repeat;
    background-image: url("/public/images/rond.jpg");
    background-size: 15px;
}
.sub.header h1{
    font-size:x-large;
    font-style: italic;
    color:white;
    background-image: url("/public/images/route/route_seule.png");
    background-repeat: repeat-x;
    background-size:contain;
    text-shadow:
        grey 1px 1px,
        grey -1px 1px,
        grey -1px -1px,
        grey 1px -1px;
}
#logo{
    width:20%;
    height:20%;
}
#main,#mainprivate{
    width:100%;
}
#menuconnexion{
   width:20%;
}
#menu{
   text-align:center;
   border-bottom:2px solid lightgrey;
}
#menu a{
    font-size:14px;
    border-left:1px solid grey;
    border-right:1px solid grey;
}
#accueil{
    color:dimgrey;
}
#contenu{
    width:80%;
}
#menugauche{
    width:15%;
}
#contenuprivate{
    width:80%;
}
#date{
    width:50%;
}
#sexe_dropdown{
    width:30%;
}
.image.route{
    width:50%;
    height:50%;
}
#footer{
    text-align:center;
}

/* Gestion des messages d'erreurs ou d'infos */
#message_success_sinscrire{
    display:none;
}

#message_failed_sinscrire{
    display:none;
}

#message_success_creer_parcours{
    display:none;
}

#message_failed_creer_parcours{
    display:none;
}

#message_success_modify_profil{
    display:none;
}

#message_failed_modify_profil{
    display:none;
}

#message_failed_search{
    display:none;
}
#message_failed_reservation{
    display:none;
}
.titre_parcour_mobile {
    display:none;
}
