
*{
font-family: Awesome;
    font-size:small;
}

#logo{
    width:20%;
    height:20%;
}

#piedpage{
    width: 80%;
}
#main{
    width:100%;
}
#menugauche,#menuconnexion{
   width:25%;
}

#contenu{
    width:75%;
}
#date{
    width:50%;
}
.cp{

}
#sexe_dropdown{
    width:30%;
}

.image.perso{
    width:10%;
    height:10%;
}


/* Gestion des messages d'erreurs ou d'infos */
#message_success_creer_parcours{
    display:none;
}

#message_failed_creer_parcours{
    display:none;
}

#message_success_modify_profil{
    display:none;
}

#message_failed_modify_profil{
    display:none;
}

#message_failed_search{
    display:none;
}
#message_failed_reservation{
    display:none;
}
