<div class="ui red raised segment">
    <div class="ui red ribbon label">Contact</div>
    <div>
        <h1>AutoVollant</h1>
        <div class="two column stackable ui grid">
            <div class="column">
                <h2>Notre entreprise</h2>
                <div class="ui list">
                    <div class="item">
                        <div class="content">
                            <div class="header">Adresse</div>
                            681 Rue de la Passerelle
                            38400 Saint-Martin-d'Hères
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">Téléphone</div>
                            04 76 57 45 00
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">Email</div>
                            <a href="mailto:autovollant@gmail.com">Ecrivez-nous!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <h2>Nos horaires</h2>
                <div class="ui list">
                    <div class="item">
                        <div class="content">
                            <div class="header">Lundi</div>
                            9h/12h - 14h/17h
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">Mardi</div>
                            8h/12h - 14h/17h
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">Mercredi</div>
                            8h/12h - 14h/17h
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">Jeudi</div>
                            8h/12h - 14h/17h
                        </div>
                    </div><div class="item">
                    <div class="content">
                        <div class="header">Vendredi</div>
                        9h/12h - 14h/16h
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>