<div id="menu" class="ui menu grid">
    <a class="active green inverted item" href="@{Application.index()}">
        <i class="home icon"></i> Accueil
    </a>
    <a class="active blue item" id="conduire">
        <i class="truck icon"></i> Conduire
    </a>
    <a class="active teal item" id="sefaireconduire">
        <i class="user icon"></i> Se faire conduire
    </a>
    <a class="active purple item" id="quisommesnous">
        <i class="question icon"></i> Qui sommes-nous ?
    </a>
    <a class="active red item" id="contact">
        <i class="mail icon"></i> Contact
    </a>
</div>