<div id="menu" class="ui menu grid">
    <a class="active green inverted item" href="@{Utilisateur.index()}">
        <i class="home icon"></i> Accueil
    </a>
    <a class="active blue item" href="@{Utilisateur.conduire()}">
        <i class="truck icon"></i> Conduire
    </a>
    <a class="active teal item" href="@{Utilisateur.sefaireconduire()}">
        <i class="user icon"></i> Se faire conduire
    </a>
    <a class="active purple item" href="@{Utilisateur.nous()}">
        <i class="question icon"></i> Qui sommes-nous ?
    </a>
    <a class="active red item" href="@{Utilisateur.contact()}">
        <i class="mail icon"></i> Contact
    </a>
</div>
