#{extends 'mainPrivate.html' /}
#{set title:'Conduire' /}

<div class="ui blue segment">
    <div class="ui blue ribbon label">Conduire</div>
    Créer un parcours
    <div class="ui form">
        <div class="inline field">
            <label>Ville de départ</label>
            <input placeholder="Exemple : Grenoble, 38000" type="text" name="depart">
            </div>
            <div class="inline field">
            <label>Ville d'arrivée</label>
            <input placeholder="Exemple : Annecy, 74000" type="text" name="arrivee">
        </div>
        <div class="inline field">
            <label>Date</label>
            <input type="text" name="date" id="date">
            <label>Heure</label>
            <input type="text" name="heure" id="heure">
            <label>Min</label>
            <input type="text" name="min" id="min">
        </div>
        <div class="inline field ">
            <label>Prix</label>
            <input type="text" name="prix" id="prix">
            <label>Nombre de places proposés</label>
            <input type="text" name="nbplaces" id="nbplaces">
        </div>
        <input type="button" id="boutonProposer" class="ui button" name="boutonProposer" value="Proposer"/>
    </div>
</div>