#{extends 'mainPrivate.html' /}
#{set title:'Contact' /}

<div class="ui red raised segment">
    <div class="ui red ribbon label">Contact</div>
    <div>
        AutoVollant
        Adresse : 681 Rue de la Passerelle
        38400 Saint-Martin-d'Hères
        Téléphone :04 76 57 45 00
        Email: contact@autovollant.fr

        Nos horaires:
        Lundi: 9h/12h - 14h/17h
        Mardi: 8h/12h - 14h/17h
        Mercredi: 8h/12h - 14h/17h
        Jeudi: 8h/12h - 14h/17h
        Vendredi: 8h/12h - 14h/16h
    </div>
</div>