#{extends 'mainPrivate.html' /}
#{set title:'Accueil' /}

<div class="ui green raised segment">
    <div class="ui green ribbon label">Accueil</div>
    <div class="ui green message">Vous êtes membre Premium depuis le ${dateInscription.format("dd/MM/yyyy")}
        et comme les ${nbmembres} membres d'Auto'Matic, vous avez décidé d'agir !
    </div>
    <div class="ui green message">Et oui, vous avez déjà créé ${nbparcourscrees} trajets et réservé ${nbparcourschoisis} trajets  !
    </div>
    #{accueil /}
</div>