#{extends 'mainPrivate.html' /}
#{set title:'Mes parcours' /}
#{set selectmesparcours :'active'/}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<div class="ui orange segment">
    <div class="ui raised segment">
        <div class="ui orange ribbon label">Mes parcours choisis</div>
        <div id="p_proposes">
        #{if m}
            <table class="ui sortable table segment" >
                <thead>
                <tr>
                    <th>Départ</th>
                    <th>Arrivée</th>
                    <th>Date et heure</th>
                    <th>Prix</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody id="listeParcoursChoisis">
                    #{list items:m.lesParcoursChoisis, as:'pchoisis'}
                    <tr>
                        <input type="hidden" name="pchoisisid" value="${pchoisis.id}">
                        <td>${pchoisis.depart.nom}</td>
                        <td>${pchoisis.arrivee.nom}</td>
                        <td>
                            <div class="ui divided list">
                                <div class="item">${pchoisis.dateParcours.dateString}</div>
                                <div class="item">${pchoisis.heure}h ${pchoisis.min}</div>
                            </div>
                        </td>
                        <td>${pchoisis.prix}</td>
                        <td>
                        <div class="ui vertical buttons">
                            <div class='ui small blue button consulter'>
                                <i class="unhide icon"></i>Consulter
                            </div>
                            #{if pchoisis.supprime}
                            <div class='ui small negative disabled button'>
                                <i class="warning users icon"></i>Annulé
                            </div>
                            #{/if}
                            #{else }
                                <div class='ui small positive button desinscrire'>
                                    <i class="remove icon"></i>Me désinscrire</div>
                            #{/else}
                        </div>
                        </td>
                    </tr>
                    #{/list}
                </tbody>
            </table>
        #{/if}
        #{else }
            Erreur sur la page
        #{/else}
        </div>
        <div class="ui orange ribbon label">Mes parcours créés</div>
        <div id="p_crees">
        #{if m!=null}
            <table class="ui sortable table segment" >
                <thead>
                <tr>
                    <th>Départ</th>
                    <th>Arrivée</th>
                    <th>Date</th>
                    <th>Nombre de places restantes</th>
                    <th>Prix</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody id="listeParcoursCrees">
                    #{list items:m.lesParcoursCrees, as:'pcrees'}
                    <tr>
                        <input type="hidden" name="pcreesid" value="${pcrees.id}"/>
                        <td>${pcrees.depart.nom}</td>
                        <td>${pcrees.arrivee.nom}</td>
                        <td>
                            <div class="ui divided list">
                                <div class="item">${pcrees.dateParcours.dateString}</div>
                                <div class="item">${pcrees.heure}h ${pcrees.min}</div>
                            </div>
                        </td>
                        <td>${pcrees.nbPlacesInitiales - pcrees.membresInscrits.size()}</td>
                        <td>${pcrees.prix}</td>
                        <td>
                            <div class="ui vertical buttons">
                                <div class='ui small blue button consulter'>
                                    <i class="unhide icon"></i>Consulter
                                </div>
                            #{if !pcrees.supprime}
                                <div class='ui small purple button annuler'>
                                    <i class="remove icon"></i>Annuler
                                </div>
                            #{/if}
                            #{else }
                                <div class='ui small red button reactiver'>
                                    <i class="backward icon"></i>Réactiver
                                </div>
                            #{/else}
                            </div>
                        </td>
                    </tr>
                    #{/list}
                </tbody>
            </table>
        #{/if}
        #{else }
            Erreur sur la page
        #{/else}
        </div>
    </div>
</div>