#{extends 'mainPrivate.html' /}
#{set title:'Qui sommes nous ?' /}

<div class="ui purple raised segment">
    <div class="ui purple ribbon label">Qui sommes-nous?</div>

    <div class="ui four items">
        <div class="item">
            <div class="image">
                <img class="rounded ui image perso"  src="@{'/public/images/personnage/persofemme1.png'}">
            </div>
            <div class="content">
                <div class="name">Riri</div>
                <p class="description"></p>
            </div>
        </div>
        <div class="item">
            <div class="image">
            <img class="rounded ui image perso" src="@{'/public/images/personnage/persohomme1.png'}">
            </div>
            <div class="content">
                <div class="name">Fifi</div>
                <p class="description"></p>
            </div>
        </div>
        <div class="item">
            <div class="image">
            <img class="rounded ui image perso" src="@{'/public/images/personnage/persohomme2.png'}">
            </div>
            <div class="content">
                <div class="name">Loulou</div>
                <p class="description"></p>
            </div>
        </div>
    </div>
</div>