#{extends 'main.html' /}
#{set title:'Conduire' /}
<script src="@{'/public/javascripts/ProjetWeb.Membre.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/conduire.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<div class="ui blue segment">

    <div class="ui blue ribbon label">Conduire</div>

    <div class="ui raised segment">
        <div class="ui blue ribbon label">Information Personnel</div>
        <div id="createur_info"></div>
        <div class="ui teal ribbon label">Parcours Proposés</div>
        <div id="parcours_propose"></div>
        <div class="ui red ribbon label">Membres Pour Chaque Parcours</div>
        <div id="membreInscrit_info"></div>
        <div class="ui green ribbon label">Parcours Choisis</div>
        <div id="parcours_choisis"></div>
    </div>
</div>
