#{extends 'main.html' /}
#{set title:'Decouvrez AutoMatic !' /}

<div class="ui green segment">
    <div class="ui green ribbon label">Accueil</div>
        <div class="two column stackable ui grid">
            <div class="two column stackable row">
                <div class="column">
                    <h4>Qu'est-ce qu'Automatic ?</h4>
                    <img class="rounded ui image route" src="/public/images/route/RouteVoitures.jpg">
                </div>
                <div class="column">
                    Tout d'abord, rappelons ce qu'est le covoiturage.
                    Celui-ci permet de réaliser un trajet commun avec une ou plusieurs personnes covoitureuses.
                    Dans un souci d'écologie et d'économie, il garantit des avantages individuels
                    (partager les frais de déplacement, échanger avec de nouvelles personnes,etc.)
                    mais aussi collectifs(réduire les embouteillages, la pollution et les accidents).
                    Cette application propose d'aider à planifier, organiser le covoiturage en mettant en
                    relation conducteurs et passagers covoiturés.
                </div>
            </div>
            <div class="two column stackable row">

                <div class="column">
                    <h4>Pour qui ?</h4>
                    <img class="rounded ui image route" src="/public/images/route/Voitures.jpg">
                </div>
                <div class="column">Ce site internet s'adresse à toutes les personnes souhaitant
                    voyager à l'intérieur du territoire Français (hors DOM TOM) grâce au covoiturage.
                </div>
            </div>
            <div class="two column stackable row">
                <div class="column">
                    <h4>Pour quoi faire ?</h4>
                </div>
                <div class="column">
                    Graĉe à Auto'Matic, vous pourrez rechercher votre parcours parmi ceux proposés par nos covoitureurs. D'autre part, vous aurez la possibilité en devenant Premium d'accéder à plus de fonctionnalités comme:

                    Proposer un parcours
                    S’enregistrer sur un parcours en tant que passager

                    Mais aussi...
                    Se désinscrire
                    Supprimer un parcours
                    Réactiver un parcours
                </div>
            </div>
        </div>
</div>