#{extends 'main.html' /}
#{set title:'Qui sommes nous ?' /}

<div class="ui purple segment">
    <div class="ui grid">
        <div class="three wide column">
            <div class="field">
                <label>Email</label>

                <div class="ui left labeled icon input">
                    <input placeholder="Username" type="text">
                    <i class="user icon"></i>

                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Mot de passe</label>

                <div class="ui left labeled icon input">
                    <input type="password">
                    <i class="lock icon"></i>

                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
            </div>
            <div class="ui error message">
                <div class="header">We noticed some issues</div>
            </div>
            <div class="ui blue submit button">Se connecter</div>
        </div>
        <div class="thirteen wide column">
            Schéma équipe avec photo + description
        </div>
    </div>
</div>