#{extends 'main.html' /}
#{set title:'Se faire conduire' /}
<script src="@{'/public/javascripts/sefaireconduire.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<div class="ui teal segment">

    <div class="ui form">
        <div class="inline field">
            <label>Ville de départ</label>
            <input placeholder="Exemple : Grenoble" type="text" name="Depart">
            <label>Ville de départ</label>
            <input placeholder="Exemple : Annecy" type="text" name="Arrivee">
            <label>Date</label>
            <input type="text" name="Date">
            <input type="button" id="boutonChercherParcours" class="ui button" name="boutonChercherParcours" value="Chercher"/>
        </div>
    </div>


    <div class="ui divided list">
    </div>

</div>