#{extends 'main.html' /}
#{set title:'Se faire conduire' /}

<form action="@{Application.sefaireconduire()}" method="POST">
    <label>Ville de départ: </label><input type="text" name="Départ"/>
    <label>Ville d'arrivée: </label><input type="text" name="Arrivée"/>
    <label>Date: </label><input type="text" name="Date"/>
    <input type="submit" value="Chercher"/>
</form>

<div class="ui divider"></div>

#{ifnot p}
Aucun résultat
#{/ifnot}

<ul>
#{list items:p, as:'resultat'}
    <li>
    ${resultat.createur}
    ${resultat.prix}
    ${resultat.nbPlaces}
    ${resultat.dep}
    ${resultat.arr}
    ${resultat.dateParcours}</li>
#{/list}
</ul>

#{ifnot m}
Aucun résultat
#{/ifnot}
