<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="@{'/public/javascripts/semantic.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/main.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{get 'moreScripts' /}
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/semantic.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
#{get 'moreStyles' /}

<body>
<header id="header">
    <h1 class="ui green header">
        <div class="sub header">
            <img alt="Logo Auto'matic" id="logo" src="/public/images/logoAutoMatic.png"/>
            <h1>Laissez-nous vous conduire !</h1>
        </div>
    </h1>
</header>

<div class="ui divider"></div>

<div id="menu" class="ui menu">
    <a class="active green inverted item" href="@{Application.index()}">
        <i class="home icon"></i> Accueil
    </a>
    <a class="active blue item" href="@{Application.conduire()}">
        <i class="truck icon"></i> Conduire
    </a>
    <a class="active teal item" href="@{Application.sefaireconduire()}">
        <i class="user icon"></i> Se faire conduire
    </a>
    <a class="active purple item" href="@{Application.nous()}">
        <i class="question icon"></i> Qui sommes-nous ?
    </a>
    <a class="active red item" href="@{Application.contact()}">
        <i class="mail icon"></i> Contact
    </a>
</div>

<div id="main">
            <div class="ui grid">
                <div class="four wide column" id="menuconnexion">
                    <div class="ui form">
                    <form id="formconnexion" action="@{Application.seconnecter()}" method="post">
                    <div class="field">
                        <label>Votre email</label>
                        <div class="ui left labeled icon input">
                            <input placeholder="Email" type="text" name="emailform">
                            <i class="user icon"></i>
                            <div class="ui corner label">
                                <i class="icon asterisk"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Votre mot de passe</label>
                        <div class="ui left labeled icon input">
                            <input type="password" placeholder="Mot de passe" name="motdepasseform">
                            <i class="lock icon"></i>

                            <div class="ui corner label">
                                <i class="icon asterisk"></i>
                            </div>
                        </div>
                    </div>
                        <div class="ui vertical buttons">
                        <button class="ui small button" type="submit"  id="boutonSeconnecter">
                            <i class="sign in icon"></i>Se connecter
                        </button>
                        <div class="ui small button" id="boutonSinscrire">
                            <i class="smile icon"></i>S'inscrire
                        </div>
                    </div>
                    </form>
                    </div>
                </div>
                <div class="twelve wide column" id="contenu">
                #{doLayout /}
                </div>
            </div>
        </div>
</div>
<div class="ui divider" id="piedpage"></div>
<footer id="footer">
    <div class="ui facebook button">
        <i class="facebook icon"></i>
        Facebook
    </div>
    <div class="ui google plus button">
        <i class="google plus icon"></i>
        Google Plus
    </div>
    <div class="ui twitter button">
        <i class="twitter icon"></i>
        Twitter
    </div>
</footer>

<div class="ui small modal">
    <i class="close icon">Close</i>
    <div class="header">
        Votre inscription
    </div>
    <div class="content" >
        <form id="formInscript" action="" method="post">
            <div class="ui error form segment">
                <div class="two fields">
                    <div class="field">
                        <label>Prénom</label>
                        <input placeholder="Prénom" type="text" name="prenom">
                    </div>
                    <div class="field">
                        <label>Nom</label>
                        <input placeholder="Nom" type="text" name="nom">
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Date de naissance</label>
                        <input placeholder="Date de naissance" type="text" name="date" >
                    </div>
                    <div class="field">
                        <label>Sexe</label>
                        <div class="ui fluid selection dropdown">
                            <div class="text">Selectionner</div>
                            <i class="dropdown icon"></i>
                            <input name="sexe" type="hidden">
                            <div class="menu">
                                <div class="item" data-value="H">Masculin</div>
                                <div class="item" data-value="F">Feminin</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="field">
                    <label>Email</label>
                    <input placeholder="Email" type="text" name="email">
                </div>
                <div class="field">
                    <label>Mot de passe</label>
                    <input type="password" name="motdepasse">
                </div>
                <button type="submit" class="ui small blue button" id="boutonValidationSinscrire">
                    Valider
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>