<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="@{'/public/javascripts/semantic.js'}" type="text/javascript"
            charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/ProjetWeb.Membre.js'}" type="text/javascript"
            charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/ProjetWeb.Parcours.js'}" type="text/javascript"
            charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/mainPrivate.js'}" type="text/javascript"
            charset="${_response_encoding}"></script>

#{get 'moreScripts' /}
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/semantic.css'}">
    <link rel="stylesheet" media="only screen and (min-width: 768px), only screen and (min-device-width: 768px)" href="@{'/public/stylesheets/main.css'}">
    <link rel="stylesheet" media="only screen and (max-width: 767px), only screen and (max-device-width: 767px)" href="@{'/public/stylesheets/main_mobile.css'}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
#{get 'moreStyles' /}
</head>
<body>
#{hautpage /}
#{menuprive /}
<div id="mainprivate">
    <div class="ui stackable grid">
        <div class="two wide relaxed column"  id="menugauche">
            <div id="menugauche_contenu" class="ui vertical labeled icon menu">
                <h4 class="ui black block header">
                    Bienvenue ${nom} ${prenom}
                </h4>
                <a class="#{get 'selectmonprofil' /} black item" href="@{Utilisateur.monprofil()}">
                    <i class="user icon"></i>
                    Mon profil
                </a>
                <a class="#{get 'selectmesparcours' /} orange item" href="@{Utilisateur.mesparcours()}">
                    <i class="dashboard icon"></i>
                    Mes parcours
                </a>
            #{secure.check 'admin'}
                <a class="blue item" href="@{Utilisateur.admin()}">
                    <i class="doctor icon"></i>
                    Admin Espace
                </a>
            #{/secure.check}
                <a class="teal item" href="@{Utilisateur.deconnexion()}">
                    <i class="sign out icon"></i>
                    Déconnexion
                </a>
            </div>
        </div>
        <div class="fourteen wide column" id="contenuprivate">
        #{doLayout /}
        </div>
    </div>
</div>
#{piedpage /}
</body>
</html>