<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="@{'/public/javascripts/semantic.js'}" type="text/javascript"
            charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/ProjetWeb.Membre.js'}" type="text/javascript"
            charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/ProjetWeb.Parcours.js'}" type="text/javascript"
            charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/mainPrivate.js'}" type="text/javascript"
            charset="${_response_encoding}"></script>
#{get 'moreScripts' /}
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/semantic.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
#{get 'moreStyles' /}
</head>

<body>
<header id="header">
    <h1 class="ui green header">
        <div class="sub header">
            <img alt="Logo Auto'matic" id="logo" src="/public/images/logoAutoMatic.png"/>
            <h1>Laissez-nous vous conduire !</h1>
        </div>
    </h1>
</header>

<div id="menu" class="ui menu">
    <a class="active green inverted item" href="@{Utilisateur.index()}">
        <i class="home icon"></i> Accueil
    </a>
    <a class="active blue item" href="@{Utilisateur.conduire()}">
        <i class="truck icon"></i> Conduire
    </a>
    <a class="active teal item" href="@{Utilisateur.sefaireconduire()}">
        <i class="user icon"></i> Se faire conduire
    </a>
    <a class="active purple item" href="@{Utilisateur.nous()}">
        <i class="question icon"></i> Qui sommes-nous ?
    </a>
    <a class="active red item" href="@{Utilisateur.contact()}">
        <i class="mail icon"></i> Contact
    </a>
</div>

<div id="main">
    <div class="ui grid">
        <div class="four wide column"  id="menugauche">
            <div class="ui vertical labeled icon menu">
                <h4 class="ui black block header">
                    Bienvenue ${m.nom} ${m.prenom}
                </h4>
                <a class="#{get 'selectmonprofil' /} black item" href="@{Utilisateur.monprofil()}">
                    <i class="user icon"></i>
                    Mon profil
                </a>
                <a class="#{get 'selectmesparcours' /} orange item" href="@{Utilisateur.mesparcours()}">
                    <i class="dashboard icon"></i>
                    Mes parcours
                </a>
                #{secure.check 'admin'}
                <a class="blue item" href="@{Utilisateur.admin()}">
                    <i class="doctor icon"></i>
                    Admin Espace
                </a>
            #{/secure.check}
                <a class="teal item" href="@{Utilisateur.deconnexion()}">
                    <i class="sign out icon"></i>
                    Déconnexion
                </a>
            </div>
        </div>
        <div class="twelve wide column" id="contenu">
        #{doLayout /}
        </div>
    </div>
</div>

<div class="ui divider" id="piedpage"></div>
<footer id="footer">
    <div class="ui facebook button">
        <i class="facebook icon"></i>
        Facebook
    </div>
    <div class="ui google plus button">
        <i class="google plus icon"></i>
        Google Plus
    </div>
    <div class="ui twitter button">
        <i class="twitter icon"></i>
        Twitter
    </div>
</footer>
</body>
</html>